<app-header></app-header>
<section>
  <ng-container *ngIf="listPlayers$ | async as players">
    <div class="card-container">
      <ng-container *ngFor="let player of players">
        <ng-container *ngIf="player.id !== 1">
          <div class="player-card" >
            <p>{{player.pseudo}}</p>
              <img draggable="false" class="plateform" [src]="getImagePlateformByName(player.plateform)" alt="{{player.plateform.toString()}}">
              <div class="rank-container">
                <div *ngFor="let rank of player.ranks;let i = index">
                  <p>{{typeRank[i]}}</p>
                  <img [src]="getImageByNameRank(rank.rank)" alt="{{rank}}" draggable="false">
                  <p *ngIf="rank.division !== 'UNRANKED'">{{rank.division}}</p>
                  <p *ngIf="rank.division === 'UNRANKED'">&nbsp;</p>
                </div>
              </div>
            <p>Team Name: {{ getTeamNameById(player.teamId)}}</p>
<!--            async au dessus-->
            <a routerLink="">See details</a>
            <p-button (click)="toogleDeletePopup(0,player.id)" icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text p-button-raised" id="deleteButton"></p-button>
            <p-button routerLink="/player/modify/{{player.id}}" icon="pi pi-pencil" styleClass="p-button-rounded p-button-info p-button-text p-button-raised" id="modifyButton"></p-button>          </div>
        </ng-container>
      </ng-container>

    </div>
  </ng-container>

  <div [style.display]="divDeleteVisible ? 'flex' : 'none'"  class="blur">
    <div  id="divDelete">
      <p>Would you delete the player ?</p>
      <a (click)="toogleDeletePopup(1,currentDeleteId)">Yes</a>
      <a (click)="toogleDeletePopup(0,currentDeleteId)">No</a>
    </div>
  </div>
  <div class="blur" [style.display]="divConfirmationMessage ? 'flex' : 'none'">
    <div  id="divConfirmation">
      <p>The Player was deleted</p>
      <a (click)="toggleDeleteConfirmationMessage()">Close</a>
    </div>
  </div>
  <div>

  </div>
</section>


